1. Print a right angle traingle using "ineuron

In [1]:
n = 3
for i in range(n) :
    for j in range(0, i+1) :
        print("ineuron", end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

2. Print a star pattern using "ineuron"

In [2]:
n= 3
for i in range(n-1) :
    for j in range(i,n) :
        print(" ",end=" ")
    for j in range(i) :
        print("ineuron", end=" ")
    for j in range(i+1) :
        print("ineuron", end=" ")
    print()
for i in range(n) :
    for j in range(i+1) :
        print(" ",end=" ")
    for j in range(i,n-1) :
        print("ineuron",end=" ")
    for j in range(i,n) :
        print("ineuron",end=" ")
    print()

      ineuron
    ineuron ineuron ineuron
  ineuron ineuron ineuron ineuron ineuron
    ineuron ineuron ineuron
      ineuron

3. l = [[1,2,3,4], (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {"k1" : "Kaustav" , "k2" : "ineuron" , "k3" : "Ghosh" ,3:6 , 7:8} , ["ineuron" ,"datascience "]]

3a. Try to extract all the list entity

In [3]:
l = [[1,2,3,4], (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {"k1" : "Kaustav" , "k2" : "ineuron" , "k3" : "Ghosh" ,3:6 , 7:8} , ["ineuron" ,"datascience "]]

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Kaustav', 'k2': 'ineuron', 'k3': 'Ghosh', 3: 6, 7: 8},
 ['ineuron', 'datascience ']]

In [5]:
for i in l :
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
['ineuron', 'datascience ']

3b. Try to extract all the dict entities

In [6]:
for i in l :
    if type(i)== dict :
        print(i)

{'k1': 'Kaustav', 'k2': 'ineuron', 'k3': 'Ghosh', 3: 6, 7: 8}

3c. Try to extract all the tuples entites

In [7]:
for i in l :
    if type(i) == tuple :
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

3d. Try to extract all the numerical data it may be part of dict key and values

In [8]:
l1=[]
for i in l :
    if type(i)== list or type(i)==set or type(i)==tuple :
        for j in i :
            if type(j)==int :
                l1.append(j)
    if type(i)== dict :
        for k in i.items() :
            for m in k :
                if type(m) == k :
                    l1.append(m)

In [9]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]

3e. Try to give the summation of all the numerical data

In [10]:
l1=[]
for i in l :
    if type(i)== list or type(i)==set or type(i)==tuple :
        for j in i :
            if type(j)==int :
                l1.append(j)
    if type(i)== dict :
        for k in i.items() :
            for m in k :
                if type(m) == k :
                    l1.append(m)
        print(sum(l1))

132

3f. Try to filter out all the odd values out all the numeric data which is part of a list

In [12]:
for i in l1 :
    if i % 2 != 0 :
        print(i)

1
3
3
5
3
5
7
45
5
23

3g. Try to extract "ineuron" out of this data

In [13]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Kaustav', 'k2': 'ineuron', 'k3': 'Ghosh', 3: 6, 7: 8},
 ['ineuron', 'datascience ']]

In [18]:
for i in l :
    if type(i)==list :
        for j in i :
            if j == "ineuron" :
                print(j)
for i in l :
    if type(i)==dict :
        for j in i.values() :
            if j =="ineuron" :
                print(j)

ineuron
ineuron

3h. Try to find out a number of occurance of all the data

In [19]:
l1=[]
for i in l :
    if type(i)== list or type(i)==set or type(i)==tuple :
        for j in i :
            if type(j)==int or type(j)== str :
                l1.append(j)
    if type(i)== dict :
        for k in i.items() :
            for m in k :
                if type(m) == k or type(m)==str :
                    l1.append(m)
for i in set(l1) :
    print(i , ":", l1.count(i))

1 : 1
2 : 2
3 : 3
4 : 4
5 : 3
6 : 2
7 : 1
k3 : 1
Kaustav : 1
k2 : 1
ineuron : 2
Ghosh : 1
45 : 1
k1 : 1
23 : 1
datascience  : 1

3i. Try to find out the number of keys in dict element

In [32]:
l2=[]
for i in l :
    if type(i)== dict :
        for j in i.keys() :
            l2.append(j)
        print(len(l2))

5

3j. Try to filter out all the string data

In [33]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Kaustav', 'k2': 'ineuron', 'k3': 'Ghosh', 3: 6, 7: 8},
 ['ineuron', 'datascience ']]

In [47]:
l1=[]
for i in l :
    if type(i)== list or type(i)==set or type(i)==tuple :
        for j in i :
            if type(j)==int or type(j)== str :
                l1.append(j)
    if type(i)== dict :
        for k in i.items() :
            for m in k :
                if type(m) == k or type(m)==str :
                    l1.append(m)
for i in l1 :
    if type(i)==str :
        print(i)

k1
Kaustav
k2
ineuron
k3
Ghosh
ineuron
datascience

3k. Try to find the alphanum in data

In [49]:
for i in l1 :
    if type(i)==str :
        if i.isalnum() :
            print(i)

k1
Kaustav
k2
ineuron
k3
Ghosh
ineuron

3l. Try to find out the multiplication of the all the numeric value in the individual collection inside the dataset

In [4]:
l = [[1,2,3,4], (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {"k1" : "Kaustav" , "k2" : "ineuron" , "k3" : "Ghosh" ,3:6 , 7:8} , ["ineuron" ,"datascience "]]

In [5]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Kaustav', 'k2': 'ineuron', 'k3': 'Ghosh', 3: 6, 7: 8},
 ['ineuron', 'datascience ']]

In [17]:
for i in l :
    k = 1
    if type(i)==list or type(i)==set or type(i)==tuple :
        for j in i :
            if type(j) == int :
                k = k * j 
        print(k)

24
720
2520
20700
1

3m. Try to unwrape all the collection inside collection and a create a flat list

In [22]:
l1=[]
for i in l :
    if type(i)== list or type(i)==set or type(i)==tuple :
        for j in i :
            if type(j)==int or type(j)== str :
                l1.append(j)
    if type(i)== dict :
        for k in i.items() :
            for m in k :
                if type(m) == k or type(m)==str :
                    l1.append(m)

In [23]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'Kaustav',
 'k2',
 'ineuron',
 'k3',
 'Ghosh',
 'ineuron',
 'datascience ']